body{
    background: rgb(245,245,245);
    color: grey;
    font-family: 'Tajawal', sans-serif;
  }
  h1{
    font-family: 'Josefin Sans', cursive;
    color: #CCFBFE;
    font-weight: bold;
  }
  h2 {
    font-family: 'Josefin Sans', sans-serif;
    color: rgb(250, 167, 181);
    font-weight: bold;
    font-size: 35px;
  }
  a {
    color: yellow;
  }
  a:hover {
    text-decoration: none;
    color: purple;
  }
  
  #banner{
    text-align: center;
    background-size: cover;
    background-image: url("images/pawel-czerwinski-k7U-T37yaM8-unsplash.jpg");
    padding: 120px;
    color: white;
    text-shadow: 1px 1px 5px grey;
    filter: brightness(90%);
  }
  #banner h1 {
    color: #ffffff;
    font-size: 70px;
  }
  #banner p {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 3%;
  }

.paragraphe h3 {
    color: rgb(71, 70, 70);
    font-size: 30px;
}

.paragraphe p {
    font-size: 20px;
}

.paragraphe {
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3%;
}

  #footer{
    padding: 10px;
    background: rgb(30, 30, 30);
    color: lightgrey;
    text-align: center;
  }
  .card{
    padding: 26px;
    font-weight: lighter;
    font-size: 20px;
  }

  #footer a {
    color: lightgrey;
    font-size: 15px;
  }
  #footer a:hover {
    color: white;
  }
  